<div *ngIf="rates$ | async; let rates">
  <div *ngIf="(rates | keyvalue)?.length" class="p-4 w-100 flex fix-height">
    <div class="exchange-rates overflow-y-auto rounded-lg scroll-design">
      <app-exchange-rates
        [rates]="rates"
        (selection)="handleSelection($event)"
      ></app-exchange-rates>
    </div>
    <div class="currency-selector content-center">
      <app-currency-selector
        [selectedCurrency]="selectedCurrency"
      ></app-currency-selector>
    </div>
  </div>
  <div *ngIf="rates === null" class="text-center">
    <p>Loading exchange rates...</p>
  </div>
  <div *ngIf="rates && !(rates | keyvalue)?.length" class="text-center">
    <p>No exchange rates available.</p>
  </div>
</div>
